# Ignore build output folders
/eShop/bin/
/eShop/obj/

# Rider IDE specific files
/.idea/
/.idea_modules/
/.idea.*/workspace.xml
/.idea.*/tasks.xml
/.idea.*/modules.xml
/.idea.*/misc.xml
/.idea.*/dataSources/
/.idea.*/dataSources.ids
/.idea.*/dataSources.xml
/.idea.*/dataSources.local.xml
/.idea.*/sqlDataSources.xml
/.idea.*/dynamic.xml
/.idea.*/libraries/
/.idea.*/shelf/
/.idea/httpRequests/
/.idea/http-request-mappings.xml
/.idea/assetWizard.xml
/.idea/spellchecker.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/.rider.local

# Editor-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs and debug files
*.log
*.tlog

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db

# NuGet Packages
*.nupkg
*.snupkg
/packages/
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET temporary files
*.vs/
